.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.media-container {
  display: flex;
  justify-content: space-between;
  gap: "1rem";
}
@media screen and (max-width: 768px) {
  .media-container {
    display: flex;
    flex-direction: column;
  }
}
.videoPlayer-container {
  min-width: 70vw;
}
.playList-container {
  min-width: 30vw;
}
